<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parks Blog Scraper</title>
    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!-- Extra Style -->
    <link rel="stylesheet" href="css/style.css">
     <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    {{{body}}}
    <footer class="page-footer blue darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Max Ackerman
                <a class="grey-text text-lighten-4 right" target="_blank" href="https://disneyparks.disney.go.com/blog">Disney Parks Blog</a>
            </div>
        </div>
    </footer>
   
</body>

</html>