@font-face {
    font-family: "New Walt";
    src: url("../fonts/new-walt.ttf");
}

.brand-logo {
    font-family: "New Walt";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
}

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0 !important;
}